body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    background: black;
    color: white;
    overflow: hidden;
}

header {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.name-box {
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    margin-top: 100px;
    padding: 20px;
}

section {
    max-width: 800px;
    margin: 0 auto;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: rgb(0, 0, 0);
}
